# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

######################
# General
######################
.metadata
*/.metadata
.cproject
*/.cproject
.project
*/.project
Debug/*
*/Debug/*
Release/*
*/Release/*

*.pgm

######################
# Windows
######################

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Eclipse
######################

*/.settings/*
/8.1.Bildfuellen/build/
/8.1.Aufgabe/build/
/8.1.Aufgabe/dist/
/Aufgabe8.2/build/
/Aufgabe8.2/dist/
/Aufgabe8.5/build/
/Aufgabe8.5/dist/
/4.01.buchstabenZiffernZaehlen/build/
/4.03.woerterZahlenZaehlen/build/
/4.03.woerterZahlenZaehlen/dist/
/7.Bildbearbeitung/dist/
/MusterloesungKlausur/build/
/MusterloesungKlausur/dist/
/Klausur/build/
/Klausur/dist/
/1_Semester/7.Bildbearbeitung/dist/
/1_Semester/7.Bildbearbeitung/build/
/2_Semester/opencv Test/build/
/2_Semester/opencv Test/dist/